/* You can add global styles to this file, and also import other style files */



* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Roboto Regular", "Noto Sans CJK SC", "Source Han Sans CN", "Microsoft YaHei", STXiHei;
  font-weight: normal;
  //font-family: "Roboto Regular";
}

body {
  margin: 0;
  height: 100%;
}

.md-sidenav-content {
  transform: none !important;
}

.section h5 {
  font-size: 1.6rem;
}

.section h6 {
  font-size: 1rem;
  font-weight: 600;
}
.section {
  padding: 0.8rem 0;
}

login-form,
reg-form {
  md-card {
    margin: auto;
    left: 0;
    right: 0;
    padding: 0;
    width: 360px;
    position: fixed;
  }
  md-card form {
    width: 336px;
    display: inline-block;
    margin: 0 8px 0 0;
    vertical-align: middle;
    /*background: orange;*/
  }
  md-card md-card-content {
    padding: 16px;
  }
  md-card md-input {
    width: 80%;
    /*margin: 0 16px 0 0;*/
    overflow: hidden;
  }
}
