<div >
  <button md-button class="add" (click)="add()" [style.visibility]="state === 0 ? 'visible' : 'hidden' "><md-icon>add</md-icon></button>
  <ul>
    <li *ngIf="state === 1">
      <div>
        <input class="left" [(ngModel)]="temp.id" appInteger placeholder="ID">
        <input [(ngModel)]="temp.name" class="name" placeholder="名称">
      </div>
      <button md-button class="submit" [disabled]="!(canSave$ || async) || !canSave || (isBusy$ | async)" (click)="submit()"><md-icon>check</md-icon></button>
      <button md-button class="reset right" [disabled]="isBusy$ | async" (click)="reset()"><md-icon>close</md-icon></button>
    </li>
    <li *ngFor="let item of (items$ | async)">
      <admin-category-item [item]="item">
      </admin-category-item>
    </li>
  </ul>
</div>
