<div class="pagin-container">
  <ul class="pagination">
    <li [class]="paging.pageIndex > 1 ? 'waves-effect icon' : 'disabled icon'">
      <a (click)="setPage(1)">
        <i class="material-icons">&#xE5DC;</i>
      </a>
    </li>
    <li class="waves-effect icon" *ngIf="paging.pageIndex > 1">
      <a (click)="setPage(paging.pageIndex-1)">
        <i class="material-icons">&#xE5CB;</i>
      </a>
    </li>
    <li class="waves-effect icon" *ngIf="paging.pageIndex > 4 && paging.pageCount > 7">
      <a (click)="setPage(paging.pageIndex-4)">
        <i class="material-icons">&#xE5D3;</i>
      </a>
    </li>
    <li [class]="page == paging.pageIndex? 'active' : 'waves-effect' " *ngFor="let page of getPages()">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li class="waves-effect icon" *ngIf="paging.pageCount - paging.pageIndex > 3 && paging.pageCount > 7">
      <a (click)="setPage(paging.pageIndex+4)">
        <i class="material-icons">&#xE5D3;</i>
      </a>
    </li>
    <li class="waves-effect icon" *ngIf="paging.pageIndex < paging.pageCount">
      <a (click)="setPage(paging.pageIndex+1)">
        <i class="material-icons">&#xE5CC;</i>
      </a>
    </li>
    <li [class]="paging.pageIndex < paging.pageCount ? 'waves-effect icon' : 'disabled icon'">
      <a (click)="setPage(paging.pageCount)">
        <i class="material-icons">&#xE5DD;</i>
      </a>
    </li>
  </ul>
</div>
