<div>
  <label>
    <span>{{label}}</span>
    <input type="file" (change)="fileChange(fi.files)" [disabled]="!multi && files?.length > 0" [multiple]="multi" #fi>
  </label>
  <span class="info">{{info}}</span>
</div>

<ul class="collection">
  <li class="collection-item" *ngFor="let file of files">
    <div>
      {{file.fileName}}
      <a href="javascript:void(0)" (click)="removeFile(file)" class="secondary-content"><i class="material-icons">delete</i></a>
      <!--<i class="material-icons" (click)="removeFile(file)">delete</i>-->
    </div>
  </li>
</ul>
