
.small {
  font-size: 1rem;
  padding: 0 1rem;
}

.discription {
  width: 100%;
  /*min-height: 400px;*/
}

.fixed-action-btn {
  bottom: 56px;
  right: 17%;
}

.collapsible {
  border: none;
  box-shadow: none;
  border-bottom: none;
}

.collapsible-header {
  background-color: inherit;
}
