<form (ngSubmit)="onSubmit()">

  <section></section>
  <legend>基本信息</legend>
  <section>
    <md-input-container [dividerColor]="title.valid ? 'primary' : 'warn'">
      <input md-input placeholder="标题" type="text" [(ngModel)]="topic.title" name="title" #title="ngModel" minlength="10" required>
    </md-input-container>
    <md-input-container>
      <input md-input placeholder="副标题" type="text" [(ngModel)]="topic.subtitle" name="subtitle" #subTitle="ngModel" required>
    </md-input-container>
  </section>
  <section>
    <div style="display: flex">
      <p>
        <md-select placeholder="分类" >
          <md-option [value]="category.id" *ngFor="let category of pcates">{{category.name}}
          </md-option>
        </md-select>
        <md-select placeholder="子分类" [(ngModel)]="topic.category" name="category">
          <md-option [value]="category.id" *ngFor="let category of selectedCates">{{category.name}}
          </md-option>
        </md-select>
      </p>
    </div>
  </section>
  <section>
    <app-file-uploader label="选择种子文件" #torrentFile></app-file-uploader>
  </section>
  <section>
    <app-file-uploader label="选择NFO文件" #nfoFile></app-file-uploader>
  </section>

  <section></section>
  <legend>
    简介
  </legend>
  <section>
    <app-file-uploader label="选择封面" #coverFile></app-file-uploader>
  </section>
  <md-input-container>
    <textarea md-input placeholder="种子介绍" [(ngModel)]="topic.description" name="description"></textarea>
  </md-input-container>
  <section>
    <app-file-uploader label="选择插图" [multi]="true" #screenFile></app-file-uploader>
  </section>
  <section fxLayoutAlign="center">
    <button md-raised-button type="submit" color="primary">发布</button>
  </section>
</form>
