<form (ngSubmit)="onSubmit()">
  <!--<fieldset>-->
  <legend>基本信息</legend>
  <section>
    <md-input-container [dividerColor]="title.valid ? 'primary' : 'warn'">
      <input md-input placeholder="标题" type="text" [(ngModel)]="topic.title" name="title" #title="ngModel" minlength="10" required>
    </md-input-container>
    <md-input-container>
      <input md-input placeholder="副标题" type="text" [(ngModel)]="topic.subtitle" name="subtitle" #subTitle="ngModel" required>
    </md-input-container>
  </section>
  <section>
    <div style="display: flex">
      <p>
        <md-select placeholder="分类">
          <md-option [value]="category.id" *ngFor="let category of pcates">{{category.name}}
          </md-option>
        </md-select>
        <md-select placeholder="子分类">
          <md-option [value]="category.id" *ngFor="let category of selectedCates">{{category.name}}
          </md-option>
        </md-select>
      </p>
    </div>
  </section>
  <section>
    <app-file-uploader label="选择种子文件" #torrentFile></app-file-uploader>
  </section>
  <section>
    <app-file-uploader label="选择NFO文件" #nfoFile></app-file-uploader>
  </section>
  <legend>
    简介
  </legend>
  <div class="btn">
    <span>选择封面</span>
    <app-file-uploader #torrentFile></app-file-uploader>
  </div>
  <textarea class="materialize-textarea" placeholder="简介"></textarea>
  <div class="btn">
    <span>选择封面</span>
    <app-file-uploader #torrentFile></app-file-uploader>
  </div>
  <div class="section">
    <button class="btn waves-effect waves-light" type="submit" name="action">保存
      <i class="material-icons right">send</i>
    </button>
    <button class="btn waves-effect waves-light" type="submit" name="action">发布
      <i class="material-icons right">send</i>
    </button>
  </div>
</form>
