<md-sidenav-layout class="yard-root">
  <md-sidenav #sidenav class="sidenav .z-depth-2" mode="{{isWide ? 'side' : 'over'}}" opened="{{ isWide }}">
    <user-info [user]="user$ | async">
    </user-info>
    <md-nav-list>
      <a md-list-item RouterLinkActive="active" [routerLink]="['/index']">主页</a>
      <a md-list-item RouterLinkActive="active" [routerLink]="['/torrent']">种子</a>
      <a md-list-item RouterLinkActive="active" [routerLink]="['/publish']">发布</a>
      <a md-list-item RouterLinkActive="active" [routerLink]="['/rules']">规则</a>
    </md-nav-list>
    <br>
  </md-sidenav>
  <md-toolbar class="appbar z-depth-1" color="primary">
    <md-icon [style.display]="isWide ? 'none' : 'block'" (click)="sidenav.toggle()">menu</md-icon> {{title$ | async}}
    <span class="app-toolbar-filler"></span>
  </md-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>
