<div class="fixed-action-btn">
  <ul>
    <button md-fab mdTooltip="下载" (click)="download()" mdTooltipPosition="left"><md-icon>file_download</md-icon></button>
  </ul>
</div>

<div class="root" fxLayout="column" fxLayoutAlign="start stretch">
  <h2 class="center-align" style="margin-top: 40px">{{topic.title}}</h2>
  <!--<div class="center-align"><span>醉拳 *祝贺成龙获颁奥斯卡终身成就奖</span><div>-->
  <h4 class="center-align">{{topic.subtitle}}</h4>
  <md-divider></md-divider>
  <div class="section">
    <h5>基本信息：</h5>
    <div class="section">
      <div class="section">
        <h6>基本信息：</h6>
        <div><span>大小：{{size(topic.size)}}    类型: {{pcate?.name}}  子类型: {{ccate?.name}}  </span></div>
      </div>
      <div class="section">
        <h6>发布者：<a [routerLink]="['/user/' + topic.ownerId]"> {{topic.ownerName}}</a></h6>
        <div></div>
      </div>
    </div>
  </div>
  <div class="section">
    <h5>简介：</h5>
    <div class="discription section">
      <div class="section">
        <h6>封面:</h6>
        <div>
          <img width="100%" [src]="cover">
        </div>
      </div>
      <div class="section">
        <h6>简介:</h6>
        <p>{{topic.description}}</p>
      </div>
      <div class="section">
        <h6>截图:</h6>
        <div class="sc-box">
          <img width="100px" [src]="sc" *ngFor="let sc of screenShot">
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <h5>种子信息：</h5>
    <div class="section">
      <h6>热度:</h6>
      <div>下载: {{topic.leecher}} 做种: {{topic.seeder}} 完成: {{topic.completedCount}} 最近活动：{{lastAction}}</div>
    </div>
    <div class="section">
      <h6>种子文件:</h6>
      <ul class="files">
        <li fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let file of files">
          <span>{{file.path}}</span>
          <span fxFlex="60px">{{size(file.length)}}</span>
        </li>
      </ul>
    </div>
  </div>
  <section fxLayoutAlign="center" *ngIf="isAdmin$ | async">
    <button md-raised-button color="primary" (click)="toEdit()">编辑</button>
  </section>
</div>



<!--<div class="fixed-action-btn">
  <a class="btn-floating btn-large tooltipped red" data-position="left" data-delay="50" data-tooltip="下载">
    <i class="large material-icons">file_download</i>
  </a>
  <ul>
    <li><a class="btn-floating tooltipped red" data-position="left" data-delay="50" data-tooltip="举报"><i class="material-icons">priority_high</i></a></li>
    <li><a class="btn-floating tooltipped yellow darken-1" data-position="left" data-delay="50" data-tooltip="收藏"><i class="material-icons">favorite</i></a></li>
    <li><a class="btn-floating tooltipped green" data-position="left" data-delay="50" data-tooltip="订阅"><i class="material-icons">rss_feed</i></a></li>
    <li><a class="btn-floating tooltipped blue" data-position="left" data-delay="50" data-tooltip="磁力链接"><i class="material-icons">share</i></a></li>
  </ul>
</div>-->
