.root {
  background: #fff;
  padding: 40px 60px;
}

.small {
  font-size: 1rem;
  padding: 0 1rem;
}

.discription {
  width: 100%;
  /*min-height: 400px;*/
}

.sc-box img {
  object-fit: cover;
  object-position: center;
}

.fixed-action-btn {
  top: 128px;
  right: 10%;
  position: fixed;
}

.files li{
  height: 36px;
}

.collapsible {
  border: none;
  box-shadow: none;
  border-bottom: none;
}

.collapsible-header {
  background-color: inherit;
}
