<div class="root" (mouseenter)="hover=true" (mouseleave)="hover=false">
  <div class="content">
    <div class="normal" *ngIf="state !== 1">
      <div>
        <span class="left">{{item.id}}</span>
      </div>
      <div class="name">
        <span>{{item.name}}</span>
      </div>
    </div>
    <div class="edit" *ngIf="state === 1">
      <input class="left" [(ngModel)]="temp.id" appInteger placeholder="ID">
      <input [(ngModel)]="temp.name" type="text" placeholder="名称">
    </div>
  </div>
  <div class="popup actions" *ngIf="state === 0 && hover">
    <button md-button [disabled]="isBusy$ | async" (click)="edit(item)"><md-icon>mode_edit</md-icon></button>
    <button md-button class="delete  right" [disabled]="isBusy$ | async" (click)="delete(item.id)"><md-icon>delete_forever</md-icon></button>
  </div>
  <div class="actions" *ngIf="state === 1">
    <button md-button class="submit" [disabled]="!(canSave$ || async) || !canSave || (isBusy$ | async)" (click)="submit(item)"><md-icon>check</md-icon></button>
    <button md-button class="reset  right" (click)="reset()"><md-icon>close</md-icon></button>
  </div>
</div>