@import "src/app/components/login-form/login-form.component.scss";
md-select {
  width: 240px;
}

textarea.inputBox {
  color: #444;
  resize: vertical;
  min-height: 500px;
}

form {
  width: 100%;
}
