<form (ngSubmit)="onSubmit()">

  <section></section>
  <legend>基本信息</legend>
  <section>
    <input class="inputBox" placeholder="标题" type="text" [(ngModel)]="topic.title" name="title">
    <input class="inputBox" placeholder="副标题" type="text" [(ngModel)]="topic.subtitle" name="subtitle">

  </section>
  <section>
    <div style="display: flex">
      <p>
        <md-select placeholder="分类" [(ngModel)]="spid" name="pcselect">
          <md-option [value]="category.id" *ngFor="let category of pcates">{{category.name}}
          </md-option>
        </md-select>
        <md-select placeholder="子分类" [(ngModel)]="topic.categoryId" name="category">
          <md-option [value]="category.id" *ngFor="let category of selectedCates">{{category.name}}
          </md-option>
        </md-select>
      </p>
    </div>
  </section>

  <section></section>
  <legend>
    简介
  </legend>
  <section>
    <app-file-uploader label="选择封面" [files]="coverFiles" (onChange)="setCoverFiles($event)" [url]="url.content.imageUpload"></app-file-uploader>
  </section>
  <textarea class="inputBox"  placeholder="种子介绍" [(ngModel)]="topic.description" name="description"></textarea>

  <section>
    <app-file-uploader label="选择插图" [files]="screenShotFiles" (onChange)="setScreenShotFiles($event)" [url]="url.content.imageUpload"
      [multi]="true"></app-file-uploader>
  </section>
  <section fxLayoutAlign="center">
    <button md-raised-button type="submit" color="primary">发布</button>
  </section>
</form>
