
<div class="root" fxLayout="column" fxLayoutAlign="start stretch">

  <h2 class="center-align">{{user.nickname}}</h2>
  <md-divider></md-divider>
  <div class="section">
    <div class="section">
      <div class="section">
        <h6>邮箱：</h6>
        <div><span>{{ user.email }} </span></div>
      </div>
      <div class="section">
        <h6>用户组：</h6>
        <div><span>{{ role }} </span></div>
        <br>
        <button md-raised-button (click)="addToAdmin()" *ngIf="canAddToAdmin | async">添加为管理员</button>
      </div>

      <div class="section">
        <div><span>上传：{{ user.uploaded }} </span></div>
        <div><span>下载：{{ user.downloaded }} </span></div>
        <div><span>分享率：{{ shareRate }} </span></div>

      </div>
    </div>
  </div>

</div>
