<a [routerLink]="['../detail', topic.Id]">
  <div class="topic-panel card-panel">
    <img [src]="'assets/topic/art/'+topic.Id+'.png'">
    <div class="content">
      <div class="topic">
        <div class="title">{{topic.Title}}</div>
        <div class="subtitle">{{topic.SubTitle}}</div>
        <div class="tag">
          <div class="chip" *ngFor="let tag of topic.tags">{{tag.name}}</div>
        </div>
      </div>
      <div class="bar">
        <div class="torrent">
          ↑{{topic.Torrent.Seeder}}↓{{topic.Torrent.Leecher}} Э{{topic.Torrent.Saver}}
        </div>
        <div class="action">
          <span> A </span>
          <span> B </span>
          <span> C </span>
          <span> D </span>
        </div>
      </div>
    </div>
  </div>
</a>
