@import '~@angular/material/core/theming/all-theme';
@mixin candy-yard-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  a[md-list-item].active {
    cursor: none;
    background-color: md-color($primary)
  }
}
