/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  font-family: "Roboto Regular", "Noto Sans CJK SC", "Source Han Sans CN", "Microsoft YaHei", STXiHei;
  font-weight: normal;
}

body {
  height: 100%;
  margin: 0;
  background-image: url(/assets/spotlight/0f96cc9b3c8c72fa4cc616fe7ff8a5b0713141e7c3fa3dc09687085a531fa0a3.jpg);
  background-attachment: fixed;
  display: block;
}

.mat-sidenav-content{
  transform: none !important;
}

legend,
.mat-select-value-text,
.mat-input-placeholder {
  // border-bottom:10px solid #000000;
  color: #fff;
}

.strentch {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #444;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}


/*.md-sidenav-content {
  transform: none !important;
}*/

.section h5 {
  font-size: 1.6rem;
}

.section h6 {
  font-size: 1rem;
  font-weight: 600;
}

.section {
  padding: 0.8rem 0;
}

a {
  text-decoration: none;
}

input,
md-input-container {
  width: 100%;
}

// @import "styles/mixins";
@import "styles/color";
@import "styles/variables";
@import "styles/global";
@import "styles/sidenav";
@import "styles/grid";
@import "styles/form";
