form {
  width: 300px;
  margin: 30px auto;
}

section {
  display: block;
  align-content: center;
  align-items: center;
  padding-bottom: 15px;
}

input {
  height: 44px;
  width: 100%;
  padding: 11px 10px 11px 13px;
  display: block;
  margin: 0;
  border: none;
  background-color: white;
  font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  border-radius: 3px;
}

input {
  margin-bottom: 12px;
}
