 <md-card>
    <md-toolbar color="primary">注册</md-toolbar>
    <md-card-content>
      <form (ngSubmit)="register()" #regForm="ngForm" class="form1">
        <p>
          <md-input [(ngModel)]="UserKey" #userkey="ngModel" name="rUserKey" placeholder="用户名" floatingPlaceholder="false"></md-input>
          <md-input [(ngModel)]="Password" #password="ngModel" name="rPassword" type="password" floatingPlaceholder="false" placeholder="密码"></md-input>
          <md-input [(ngModel)]="Email" #email="ngModel" name="rEmail" placeholder="邮箱" floatingPlaceholder="false" type="email"></md-input>
        </p>
        <p>
          <md-checkbox>Rule1</md-checkbox>
          <br>
          <md-checkbox>Rule2</md-checkbox>
        </p>
        <p>
          <button md-raised-button [disabled]="isBusy" type="submit">注册</button>
          <a (click)="toggle()">已有账号</a>
        </p>
      </form>
    </md-card-content>
  </md-card>